In [1]:
import pandas as pd

In [2]:
ser = pd.Series(data= [1,2,3,4],index = ['one','two','three','four'])

In [3]:
ser

one      1
two      2
three    3
four     4
dtype: int64

In [4]:
ser.index

Index([u'one', u'two', u'three', u'four'], dtype='object')

In [5]:
ser[['three','one']]

three    3
one      1
dtype: int64

In [6]:
ser.loc[['three','one','two']]

three    3
one      1
two      2
dtype: int64

In [7]:
ser

one      1
two      2
three    3
four     4
dtype: int64

In [8]:
ser[3]

4

In [9]:
ser.iloc[1]

2

In [10]:
ser[[1,2,3]]

two      2
three    3
four     4
dtype: int64

In [11]:
ser[[1,2,3]]

two      2
three    3
four     4
dtype: int64

In [12]:
ser.iloc[[1,2,3]]

two      2
three    3
four     4
dtype: int64

In [13]:
ser['two'] = 'two'
ser *2

one           2
two      twotwo
three         6
four          8
dtype: object

In [15]:
ser[['one','two']] * 2

one         2
two    twotwo
dtype: object

In [2]:
d = {'rasipuram':pd.Series([100,400,300],['chicken','mutton','quail']),'salem':pd.Series([120,440,330,250],[['chicken','mutton','quail','fish']])}

In [22]:
d1 = {'chicken':pd.Series([200,400,359],index=['chennai','mumbai','banglore']),'mutton':pd.Series([500,489,700],index=['chennai','mumbai','banglore'])}

In [23]:
d1

{'chicken': chennai     200
 mumbai      400
 banglore    359
 dtype: int64, 'mutton': chennai     500
 mumbai      489
 banglore    700
 dtype: int64}

In [24]:
pd.DataFrame(d1)

          chicken  mutton
chennai       200     500
mumbai        400     489
banglore      359     700

In [17]:
d

{'rasipuram': chicken    100
 mutton     400
 quail      300
 dtype: int64, 'salem': chicken    120
 mutton     440
 quail      330
 fish       250
 dtype: int64}

In [14]:
df = pd.DataFrame(d)

In [15]:
print df

         rasipuram  salem
chicken      100.0    120
fish           NaN    250
mutton       400.0    440
quail        300.0    330

In [34]:
df.index

Index([u'chicken', u'fish', u'mutton', u'quail'], dtype='object')

In [36]:
df.columns

Index([u'rasipuram', u'salem'], dtype='object')

In [40]:
pd.DataFrame(d,['fish','mutton'])

        rasipuram  salem
fish          NaN    250
mutton      400.0    440

In [5]:
pd.DataFrame(d,index = ['fish','quail'],columns =['salem','chennai','rasipuram'])

       salem chennai  rasipuram
fish     250     NaN        NaN
quail    330     NaN      300.0

In [17]:
data = [{'hari':10,'ravi':9},{'mark':7,'harry':7}]

In [18]:
pd.DataFrame(data)

   hari  harry  mark  ravi
0  10.0    NaN   NaN   9.0
1   NaN    7.0   7.0   NaN

In [11]:
pd.DataFrame(data,index =['data analytics','data visualisation'])

                    hari  harry  mark  ravi
data analytics      10.0    NaN   NaN   9.0
data visualisation   NaN    7.0   7.0   NaN

In [12]:
pd.DataFrame(data,columns = ['hari','mark'])

   hari  mark
0  10.0   NaN
1   NaN   7.0

In [15]:
df

         rasipuram  salem
chicken      100.0    120
fish           NaN    250
mutton       400.0    440
quail        300.0    330

In [16]:
df['rasipuram']

chicken    100.0
fish         NaN
mutton     400.0
quail      300.0
Name: rasipuram, dtype: float64

In [17]:
df['chennai'] = df['rasipuram'] + df['salem']

In [18]:
df

         rasipuram  salem  chennai
chicken      100.0    120    220.0
fish           NaN    250      NaN
mutton       400.0    440    840.0
quail        300.0    330    630.0

In [19]:
df['flag'] = df['rasipuram'] > 150
df

         rasipuram  salem  chennai   flag
chicken      100.0    120    220.0  False
fish           NaN    250      NaN  False
mutton       400.0    440    840.0   True
quail        300.0    330    630.0   True

In [23]:
#when you do this the column won't get deleted
chennai = df['chennai'].pop
chennai

<bound method Series.pop of chicken    220.0
fish         NaN
mutton     840.0
quail      630.0
Name: chennai, dtype: float64>

In [24]:
df

         rasipuram  salem  chennai   flag
chicken      100.0    120    220.0  False
fish           NaN    250      NaN  False
mutton       400.0    440    840.0   True
quail        300.0    330    630.0   True

In [25]:
#to do the deletion you want to do this
df.pop('chennai')
df

         rasipuram  salem   flag
chicken      100.0    120  False
fish           NaN    250  False
mutton       400.0    440   True
quail        300.0    330   True

In [26]:
del df['salem']

In [27]:
df

         rasipuram   flag
chicken      100.0  False
fish           NaN  False
mutton       400.0   True
quail        300.0   True

In [32]:
#now we can insert a new column suing "INSERT"('index','collabel',data)
df.insert(2,'mumbai',df['rasipuram']*2)
df

         rasipuram  chennai  mumbai   flag
chicken      100.0    200.0   200.0  False
fish           NaN      NaN     NaN  False
mutton       400.0    800.0   800.0   True
quail        300.0    600.0   600.0   True

In [33]:
df.pop('chennai')
df

         rasipuram  mumbai   flag
chicken      100.0   200.0  False
fish           NaN     NaN  False
mutton       400.0   800.0   True
quail        300.0   600.0   True

In [34]:
df

         rasipuram  mumbai   flag
chicken      100.0   200.0  False
fish           NaN     NaN  False
mutton       400.0   800.0   True
quail        300.0   600.0   True

In [35]:
df.insert(3,'chennai',df['mumbai']-50)
df

         rasipuram  mumbai   flag  chennai
chicken      100.0   200.0  False    150.0
fish           NaN     NaN  False      NaN
mutton       400.0   800.0   True    750.0
quail        300.0   600.0   True    550.0

In [36]:
df

         rasipuram  mumbai   flag  chennai
chicken      100.0   200.0  False    150.0
fish           NaN     NaN  False      NaN
mutton       400.0   800.0   True    750.0
quail        300.0   600.0   True    550.0

In [37]:
df.insert(1,'banglore',df['mumbai']-100)
df

         rasipuram  banglore  mumbai   flag  chennai
chicken      100.0     100.0   200.0  False    150.0
fish           NaN       NaN     NaN  False      NaN
mutton       400.0     700.0   800.0   True    750.0
quail        300.0     500.0   600.0   True    550.0

In [40]:
#if we want to select a specific columns and in that cols you want only specific values it is posssible with the indexing and slicing
df['coimbatore'] = df['rasipuram'][:3] + 20
df

         rasipuram  banglore  mumbai   flag  chennai  coimbatore
chicken      100.0     100.0   200.0  False    150.0       120.0
fish           NaN       NaN     NaN  False      NaN         NaN
mutton       400.0     700.0   800.0   True    750.0       420.0
quail        300.0     500.0   600.0   True    550.0         NaN

In [76]:
!cat .\movielens\ratings.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
movies = pd.read_csv('D:\python files\pandas exercise\Week-4-Pandas\movielens\movies.csv', sep=',')

In [5]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27249,131148,What A Man (2011),Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy
27251,131152,The Fat Spy (1966),Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy
27253,131156,Ants in the Pants 2 (2002),Comedy
27254,131158,"Manta, Manta (1991)",Comedy
27255,131160,Oscar and the Lady in Pink (2009),Drama
27256,131162,Por un puñado de besos (2014),Drama|Romance
27257,131164,Vietnam in HD (2011),War
27258,131166,WWII IN HD (2009),(no genres listed)
27259,131168,Phoenix (2014),Drama
27260,131170,Parallels (2015),Sci-Fi
27261,131172,Closed Curtain (2013),(no genres listed)
27262,131174,Gentlemen (2014),Drama|Romance|Thriller
27263,131176,A Second Chance (2014),Drama
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller
27265,131231,Standby (2014),Comedy|Romance
27266,131237,What Men Talk About (2010),Comedy
27267,131239,Three Quarter Moon (2011),Comedy|Drama
27268,131241,Ants in the Pants (2000),Comedy|Romance
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy
27271,131250,No More School (2000),Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [83]:
print type(movies)
print movies.head(6)

<class 'pandas.core.frame.DataFrame'>
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
5                        Action|Crime|Thriller

In [31]:
tags = pd.read_csv(R'D:\python files\pandas exercise\tags.csv', sep =',')
tags.head()
tags

,userId,movieId,tag,timestamp
0,18,4141,Mark Waters,1240597180
1,65,208,dark hero,1368150078
2,65,353,dark hero,1368150079
3,65,521,noir thriller,1368149983
4,65,592,dark hero,1368150078
5,65,668,bollywood,1368149876
6,65,898,screwball comedy,1368150160
7,65,1248,noir thriller,1368149983
8,65,1391,mars,1368150055
9,65,1617,neo-noir,1368150217
10,65,1694,jesus,1368149925
11,65,1783,noir thriller,1368149983
12,65,2022,jesus,1368149925
13,65,2193,dragon,1368151314
14,65,2353,conspiracy theory,1368151266
15,65,2662,mars,1368150055
16,65,2726,noir thriller,1368149983
17,65,2840,jesus,1368149925
18,65,3052,jesus,1368149926
19,65,5135,bollywood,1368149876
20,65,6539,treasure,1368149949
21,65,6874,dark hero,1368150079
22,65,7013,noir thriller,1368149983
23,65,7318,jesus,1368149925
24,65,8529,stranded,1368150012
25,65,8622,conspiracy theory,1368151266
26,65,27803,Oscar (Best Foreign Language Film),1305008715
27,65,27866,New Zealand,1304957153
28,65,48082,surreal,1304958354
29,65,48082,unusual,1304958359
...,...,...,...,...
465534,138436,81932,big hair,1298754654
465535,138436,81932,Mark Wahlberg,1298754636
465536,138436,81932,pigs,1298754658
465537,138436,81932,prostitution,1298754620
465538,138437,77154,"This movie should have been called ""How Cocain...",1357384633
465539,138446,317,Christmas,1358983914
465540,138446,317,funny,1358983914
465541,138446,317,Judge Reinhold,1358983914
465542,138446,317,Tim Allen,1358983914
465543,138446,317,whiny kid,1358983946
465544,138446,837,family friendly,1358983693
465545,138446,918,halloween scene,1358984062
465546,138446,918,quirky,1358984051
465547,138446,2396,topless scene,1358973995
465548,138446,3086,Christmas,1358983979
465549,138446,3086,classic,1358983979
465550,138446,3086,funny,1358983979
465551,138446,3086,scary,1358984001
465552,138446,3489,Peter Pan,1358983822
465553,138446,3489,soundtrack,1358983822
465554,138446,3489,visually appealing,1358983822
465555,138446,7045,family friendly,1358983660
465556,138446,7045,Scary Movies To See on Halloween,1358983660
465557,138446,7164,Peter Pan,1358983855
465558,138446,7164,visually appealing,1358983855
465559,138446,55999,dragged,1358983772
465560,138446,55999,Jason Bateman,1358983778
465561,138446,55999,quirky,1358983778
465562,138446,55999,sad,1358983772
465563,138472,923,rise to power,1194037967

In [94]:
ratings = pd.read_csv(R'D:\python files\pandas exercise\Week-4-Pandas\movielens\ratings.csv')
ratings.head()

MemoryError:

In [95]:
import scipy

In [97]:
import sklearn

In [98]:
import bokeh

In [100]:
import matplotlib

In [27]:
file = R'D:\python files\pandas exercise\ratings.csv'

In [30]:
ratings = pd.read_csv(file, nrows=2000026, sep=',', parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [29]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+06  2.000026e+06  2.000026e+06
mean   6.763397e+03  8.717455e+03  3.518681e+00
std    3.909048e+03  1.921866e+04  1.050556e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.374000e+03  9.040000e+02  3.000000e+00
50%    6.743000e+03  2.153000e+03  3.500000e+00
75%    1.015900e+04  4.661000e+03  4.000000e+00
max    1.356800e+04  1.307680e+05  5.000000e+00

In [10]:
# For current analysis, we will remove timestamp (we will come back to it!)

del ratings['timestamp']
del tags['timestamp']

# Series

In [32]:
print (type(tags))
row_0 = tags.iloc[0]
print row_0, type(row_0)

<class 'pandas.core.frame.DataFrame'>
userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object <class 'pandas.core.series.Series'>

In [13]:
print row_0.index

Index([u'userId', u'movieId', u'tag'], dtype='object')

In [123]:
row_0['movieId']

4141

In [124]:
row_0.name

0

In [126]:
row_0.rename('1st row')

userId              18
movieId           4141
tag        Mark Waters
Name: 1st row, dtype: object

In [128]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [130]:
tags.columns

Index([u'userId', u'movieId', u'tag'], dtype='object')

In [132]:
tags.iloc[[1,325,54646,46,464]]

       userId  movieId                  tag
1          65      208            dark hero
325       342      318       Morgan Freeman
54646   11183    70286    social commentary
46         96   106696            storyline
464       342    48043  multiple storylines

# **descriptive statistics**

In [142]:
ratings['rating'].describe()

count    1.048576e+06
mean     3.529272e+00
std      1.051918e+00
min      5.000000e-01
25%      3.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [135]:
movies.shape

(27278, 3)

In [143]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.002838  0.017106
movieId -0.002838  1.000000  0.002549
rating   0.017106  0.002549  1.000000

In [145]:
ratings.rating.min()

0.5

In [146]:
ratings.count()

userId     1048576
movieId    1048576
rating     1048576
dtype: int64

In [147]:
ratings.clip()

         userId  movieId  rating
0             1        2     3.5
1             1       29     3.5
2             1       32     3.5
3             1       47     3.5
4             1       50     3.5
5             1      112     3.5
6             1      151     4.0
7             1      223     4.0
8             1      253     4.0
9             1      260     4.0
10            1      293     4.0
11            1      296     4.0
12            1      318     4.0
13            1      337     3.5
14            1      367     3.5
15            1      541     4.0
16            1      589     3.5
17            1      593     3.5
18            1      653     3.0
19            1      919     3.5
20            1      924     3.5
21            1     1009     3.5
22            1     1036     4.0
23            1     1079     4.0
24            1     1080     3.5
25            1     1089     3.5
26            1     1090     4.0
27            1     1097     4.0
28            1     1136     3.5
29            1     1193     3.5
...         ...      ...     ...
1048546    7119      480     4.0
1048547    7119      500     3.0
1048548    7119      515     4.0
1048549    7119      553     4.0
1048550    7119      588     4.0
1048551    7119      589     4.0
1048552    7119      592     3.0
1048553    7119      593     5.0
1048554    7119      595     4.0
1048555    7120        1     4.5
1048556    7120        2     4.0
1048557    7120        7     4.0
1048558    7120       17     4.5
1048559    7120       19     3.0
1048560    7120       21     5.0
1048561    7120       34     5.0
1048562    7120       44     2.5
1048563    7120       48     4.5
1048564    7120      110     5.0
1048565    7120      141     5.0
1048566    7120      151     5.0
1048567    7120      153     0.5
1048568    7120      161     4.0
1048569    7120      163     4.5
1048570    7120      168     5.0
1048571    7120      253     4.0
1048572    7120      260     5.0
1048573    7120      261     4.0
1048574    7120      266     3.5
1048575    7120      277     4.0

[1048576 rows x 3 columns]

In [149]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [150]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.002838  0.017106
movieId -0.002838  1.000000  0.002549
rating   0.017106  0.002549  1.000000

In [151]:
ratings.rank()

            userId   movieId    rating
0             88.0    3147.0  464567.5
1             88.0   18434.5  464567.5
2             88.0   20337.5  464567.5
3             88.0   28677.0  464567.5
4             88.0   31737.5  464567.5
5             88.0   48294.0  464567.5
6             88.0   55457.0  668598.5
7             88.0   77372.0  668598.5
8             88.0   87253.0  668598.5
9             88.0   90457.5  668598.5
10            88.0  101183.0  668598.5
11            88.0  103683.5  668598.5
12            88.0  113487.5  668598.5
13            88.0  119086.0  464567.5
14            88.0  137994.5  464567.5
15            88.0  189921.5  668598.5
16            88.0  203936.0  464567.5
17            88.0  211612.0  464567.5
18            88.0  227058.5  295003.5
19            88.0  269911.0  464567.5
20            88.0  273364.0  464567.5
21            88.0  282232.5  464567.5
22            88.0  289561.0  668598.5
23            88.0  297355.5  668598.5
24            88.0  298418.0  464567.5
25            88.0  301578.5  464567.5
26            88.0  302698.5  668598.5
27            88.0  306373.5  668598.5
28            88.0  313855.0  464567.5
29            88.0  321375.5  464567.5
...            ...       ...       ...
1048546  1048530.5  169552.0  668598.5
1048547  1048530.5  175713.5  295003.5
1048548  1048530.5  179921.0  668598.5
1048549  1048530.5  194474.0  668598.5
1048550  1048530.5  201504.5  668598.5
1048551  1048530.5  203936.0  668598.5
1048552  1048530.5  208785.5  295003.5
1048553  1048530.5  211612.0  972295.5
1048554  1048530.5  215072.5  668598.5
1048555  1048566.0    1285.0  856090.5
1048556  1048566.0    3147.0  668598.5
1048557  1048566.0    6814.5  668598.5
1048558  1048566.0   12179.5  856090.5
1048559  1048566.0   13556.0  295003.5
1048560  1048566.0   14936.0  972295.5
1048561  1048566.0   22343.5  972295.5
1048562  1048566.0   26660.5  159507.0
1048563  1048566.0   30139.5  856090.5
1048564  1048566.0   45324.0  972295.5
1048565  1048566.0   50865.5  972295.5
1048566  1048566.0   55457.0  972295.5
1048567  1048566.0   56696.0    6616.5
1048568  1048566.0   60180.5  668598.5
1048569  1048566.0   61477.0  856090.5
1048570  1048566.0   64243.0  972295.5
1048571  1048566.0   87253.0  668598.5
1048572  1048566.0   90457.5  972295.5
1048573  1048566.0   92168.5  668598.5
1048574  1048566.0   93728.0  464567.5
1048575  1048566.0   95973.5  668598.5

[1048576 rows x 3 columns]

In [34]:
ratings.head()
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp     object
dtype: object

In [36]:
ratings.round().dtypes

userId         int64
movieId        int64
rating       float64
timestamp     object
dtype: object

In [163]:

print ratings['rating'].describe()
print ratings.shape
print ratings

count    2.000000e+06
mean     3.518678e+00
std      1.050556e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64
(2000000, 4)
         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
5             1      112     3.5  1094785740
6             1      151     4.0  1094785734
7             1      223     4.0  1112485573
8             1      253     4.0  1112484940
9             1      260     4.0  1112484826
10            1      293     4.0  1112484703
11            1      296     4.0  1112484767
12            1      318     4.0  1112484798
13            1      337     3.5  1094785709
14            1      367     3.5  1112485980
15            1      541     4.0  1112484603
16            1      589     3.5  1112485557
17            1      593     3.5  1112484661
18            1      653     3.0  1094785691
19            1      919     3.5  1094785621
20            1      924     3.5  1094785598
21            1     1009     3.5  1112486013
22            1     1036     4.0  1112485480
23            1     1079     4.0  1094785665
24            1     1080     3.5  1112485375
25            1     1089     3.5  1112484669
26            1     1090     4.0  1112485453
27            1     1097     4.0  1112485701
28            1     1136     3.5  1112484609
29            1     1193     3.5  1112484690
...         ...      ...     ...         ...
1999970   13567     2329     5.0  1262994680
1999971   13567     2394     5.0  1262763175
1999972   13567     2541     4.0  1262763102
1999973   13567     2798     5.0  1262764221
1999974   13567     3113     5.0  1262763913
1999975   13567     3178     4.5  1262764031
1999976   13567     3301     3.5  1262763180
1999977   13567     3536     3.5  1262994548
1999978   13567     3784     3.0  1262993838
1999979   13567     3824     3.5  1262764257
1999980   13567     4062     3.5  1262764184
1999981   13567     4103     3.5  1262993865
1999982   13567     4128     3.0  1262763917
1999983   13567     4727     4.0  1262994123
1999984   13567     5523     3.0  1262994401
1999985   13567     6704     3.5  1262994349
1999986   13567     8972     4.5  1262764073
1999987   13567    33679     3.5  1262994334
1999988   13567    42009     3.5  1262994654
1999989   13567    51412     3.5  1262994594
1999990   13567    54004     3.5  1262994633
1999991   13567    58154     4.0  1262994642
1999992   13567    58559     5.0  1262994213
1999993   13567    59333     3.5  1262994526
1999994   13567    59369     4.0  1262764264
1999995   13567    59725     3.5  1262994714
1999996   13567    63062     5.0  1262764337
1999997   13567    64957     5.0  1262764172
1999998   13567    65216     4.5  1262994367
1999999   13567    66203     4.0  1262994418

[2000000 rows x 4 columns]

In [162]:
ratings.describe()

             userId       movieId        rating
count  2.000000e+06  2.000000e+06  2.000000e+06
mean   6.763309e+03  8.717178e+03  3.518678e+00
std    3.908996e+03  1.921823e+04  1.050556e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.374000e+03  9.040000e+02  3.000000e+00
50%    6.743000e+03  2.153000e+03  3.500000e+00
75%    1.015825e+04  4.661000e+03  4.000000e+00
max    1.356700e+04  1.307680e+05  5.000000e+00

In [ ]:
ratings.mean()

In [15]:
ratings['rating'].mean()

3.518681257143657

In [16]:
ratings['rating'].min()

0.5

In [17]:
ratings['rating'].max()

5.0

In [18]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [19]:
ratings['rating'].value_counts()

4.0    557825
3.0    432674
5.0    285568
3.5    217865
4.5    151293
2.0    146106
2.5     89329
1.0     68421
1.5     27518
0.5     23427
Name: rating, dtype: int64

In [21]:
ratings['rating'].std()

1.0505555483787559

In [22]:
ratings.corr()

           userId   movieId    rating
userId   1.000000  0.005038 -0.005713
movieId  0.005038  1.000000  0.003724
rating  -0.005713  0.003724  1.000000

In [26]:
ratings.columns

Index([u'userId', u'movieId', u'rating'], dtype='object')

In [27]:
filter1 = ratings['rating'] > 5
print filter1.any()

False

In [38]:
filter2 = ratings['rating'] > 0
#print filter2
print type(filter2)
print filter2.all()

<class 'pandas.core.series.Series'>
True

# Data cleaning

In [33]:
# this is not inplace replacing the value will not change in the original dataset
ratings['rating'].replace(5,4.99)

0          3.50
1          3.50
2          3.50
3          3.50
4          3.50
5          3.50
6          4.00
7          4.00
8          4.00
9          4.00
10         4.00
11         4.00
12         4.00
13         3.50
14         3.50
15         4.00
16         3.50
17         3.50
18         3.00
19         3.50
20         3.50
21         3.50
22         4.00
23         4.00
24         3.50
25         3.50
26         4.00
27         4.00
28         3.50
29         3.50
           ...
1999996    4.99
1999997    4.99
1999998    4.50
1999999    4.00
2000000    3.50
2000001    4.99
2000002    4.50
2000003    4.00
2000004    3.00
2000005    2.50
2000006    4.50
2000007    3.50
2000008    4.99
2000009    3.00
2000010    4.99
2000011    3.00
2000012    1.00
2000013    4.00
2000014    4.00
2000015    2.00
2000016    3.00
2000017    4.00
2000018    4.99
2000019    4.00
2000020    4.00
2000021    3.00
2000022    4.00
2000023    4.99
2000024    4.00
2000025    4.00
Name: rating, dtype: float64

In [32]:
# the value still remains the original dataset
ratings['rating']

0          3.5
1          3.5
2          3.5
3          3.5
4          3.5
5          3.5
6          4.0
7          4.0
8          4.0
9          4.0
10         4.0
11         4.0
12         4.0
13         3.5
14         3.5
15         4.0
16         3.5
17         3.5
18         3.0
19         3.5
20         3.5
21         3.5
22         4.0
23         4.0
24         3.5
25         3.5
26         4.0
27         4.0
28         3.5
29         3.5
          ...
1999996    5.0
1999997    5.0
1999998    4.5
1999999    4.0
2000000    3.5
2000001    5.0
2000002    4.5
2000003    4.0
2000004    3.0
2000005    2.5
2000006    4.5
2000007    3.5
2000008    5.0
2000009    3.0
2000010    5.0
2000011    3.0
2000012    1.0
2000013    4.0
2000014    4.0
2000015    2.0
2000016    3.0
2000017    4.0
2000018    5.0
2000019    4.0
2000020    4.0
2000021    3.0
2000022    4.0
2000023    5.0
2000024    4.0
2000025    4.0
Name: rating, dtype: float64

In [36]:
tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

In [38]:
tags

        userId  movieId                                                tag
0           18     4141                                        Mark Waters
1           65      208                                          dark hero
2           65      353                                          dark hero
3           65      521                                      noir thriller
4           65      592                                          dark hero
5           65      668                                          bollywood
6           65      898                                   screwball comedy
7           65     1248                                      noir thriller
8           65     1391                                               mars
9           65     1617                                           neo-noir
10          65     1694                                              jesus
11          65     1783                                      noir thriller
12          65     2022                                              jesus
13          65     2193                                             dragon
14          65     2353                                  conspiracy theory
15          65     2662                                               mars
16          65     2726                                      noir thriller
17          65     2840                                              jesus
18          65     3052                                              jesus
19          65     5135                                          bollywood
20          65     6539                                           treasure
21          65     6874                                          dark hero
22          65     7013                                      noir thriller
23          65     7318                                              jesus
24          65     8529                                           stranded
25          65     8622                                  conspiracy theory
26          65    27803                 Oscar (Best Foreign Language Film)
27          65    27866                                        New Zealand
28          65    48082                                            surreal
29          65    48082                                            unusual
...        ...      ...                                                ...
465534  138436    81932                                           big hair
465535  138436    81932                                      Mark Wahlberg
465536  138436    81932                                               pigs
465537  138436    81932                                       prostitution
465538  138437    77154  This movie should have been called "How Cocain...
465539  138446      317                                          Christmas
465540  138446      317                                              funny
465541  138446      317                                     Judge Reinhold
465542  138446      317                                          Tim Allen
465543  138446      317                                          whiny kid
465544  138446      837                                    family friendly
465545  138446      918                                    halloween scene
465546  138446      918                                             quirky
465547  138446     2396                                      topless scene
465548  138446     3086                                          Christmas
465549  138446     3086                                            classic
465550  138446     3086                                              funny
465551  138446     3086                                              scary
465552  138446     3489                                          Peter Pan
465553  138446     3489                                         soundtrack
465554  138446     3489                                 visually appealing
465555  138446     7045                                    family friendly
465556  138446     7045                   Scary Movies To See on Halloween
465557  138446     7164                                          Peter Pan
465558  138446     7164                                 visually appealing
465559  138446    55999                                            dragged
465560  138446    55999                                      Jason Bateman
465561  138446    55999                                             quirky
465562  138446    55999                                                sad
465563  138472      923                                      rise to power

[465564 rows x 3 columns]

In [40]:
tags.shape

(465564, 4)

In [44]:
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [45]:
tags.isnull().sum(axis = 1)

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
465534    0
465535    0
465536    0
465537    0
465538    0
465539    0
465540    0
465541    0
465542    0
465543    0
465544    0
465545    0
465546    0
465547    0
465548    0
465549    0
465550    0
465551    0
465552    0
465553    0
465554    0
465555    0
465556    0
465557    0
465558    0
465559    0
465560    0
465561    0
465562    0
465563    0
dtype: int64

In [41]:
# it is also not inplace one
tags.dropna(axis = 0).shape

(465548, 4)

In [43]:
tags.shape

(465564, 3)

In [47]:
tags.dropna(how='all').shape

(465548, 4)

In [44]:
tags = tags.dropna(axis = 0)

In [45]:
tags.shape

(465548, 3)

In [47]:
tags.dropna(axis = 1)

        userId  movieId                                                tag
0           18     4141                                        Mark Waters
1           65      208                                          dark hero
2           65      353                                          dark hero
3           65      521                                      noir thriller
4           65      592                                          dark hero
5           65      668                                          bollywood
6           65      898                                   screwball comedy
7           65     1248                                      noir thriller
8           65     1391                                               mars
9           65     1617                                           neo-noir
10          65     1694                                              jesus
11          65     1783                                      noir thriller
12          65     2022                                              jesus
13          65     2193                                             dragon
14          65     2353                                  conspiracy theory
15          65     2662                                               mars
16          65     2726                                      noir thriller
17          65     2840                                              jesus
18          65     3052                                              jesus
19          65     5135                                          bollywood
20          65     6539                                           treasure
21          65     6874                                          dark hero
22          65     7013                                      noir thriller
23          65     7318                                              jesus
24          65     8529                                           stranded
25          65     8622                                  conspiracy theory
26          65    27803                 Oscar (Best Foreign Language Film)
27          65    27866                                        New Zealand
28          65    48082                                            surreal
29          65    48082                                            unusual
...        ...      ...                                                ...
465534  138436    81932                                           big hair
465535  138436    81932                                      Mark Wahlberg
465536  138436    81932                                               pigs
465537  138436    81932                                       prostitution
465538  138437    77154  This movie should have been called "How Cocain...
465539  138446      317                                          Christmas
465540  138446      317                                              funny
465541  138446      317                                     Judge Reinhold
465542  138446      317                                          Tim Allen
465543  138446      317                                          whiny kid
465544  138446      837                                    family friendly
465545  138446      918                                    halloween scene
465546  138446      918                                             quirky
465547  138446     2396                                      topless scene
465548  138446     3086                                          Christmas
465549  138446     3086                                            classic
465550  138446     3086                                              funny
465551  138446     3086                                              scary
465552  138446     3489                                          Peter Pan
465553  138446     3489                                         soundtrack
465554  138446     3489                                 visually appealing
465555  138446     7045                                    family friendly
465556  138446     7045                   Scary Movies To See on Halloween
465557  138446     7164                                          Peter Pan
465558  138446     7164                                 visually appealing
465559  138446    55999                                            dragged
465560  138446    55999                                      Jason Bateman
465561  138446    55999                                             quirky
465562  138446    55999                                                sad
465563  138472      923                                      rise to power

[465548 rows x 3 columns]

In [48]:
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'], columns = ['one', 'two', 'three'])

In [49]:
df

        one       two     three
a -0.148448  0.105671  1.216933
c -0.541202 -1.533455  0.065100
e  1.660264  0.288686 -0.651455
f  1.855484  0.005510 -2.226242
h  0.058014 -0.232254  1.286420

In [50]:
df.reindex(['a','b','c','d','e','f','g','h'])

        one       two     three
a -0.148448  0.105671  1.216933
b       NaN       NaN       NaN
c -0.541202 -1.533455  0.065100
d       NaN       NaN       NaN
e  1.660264  0.288686 -0.651455
f  1.855484  0.005510 -2.226242
g       NaN       NaN       NaN
h  0.058014 -0.232254  1.286420

In [51]:
df

        one       two     three
a -0.148448  0.105671  1.216933
c -0.541202 -1.533455  0.065100
e  1.660264  0.288686 -0.651455
f  1.855484  0.005510 -2.226242
h  0.058014 -0.232254  1.286420

In [52]:
df['four'] = df['one'] * 3

In [53]:
df['five'] = 'hari'
df['six'] = df['two'] > 1

In [7]:
df

        one       two     three      four  five    six
a  1.139641 -0.213123 -0.038728  3.418924  hari  False
c -0.368920 -0.937123  1.540648 -1.106759  hari  False
e -2.783950 -0.875875  1.070295 -8.351849  hari  False
f  1.782837  0.338143 -0.591616  5.348510  hari  False
h  0.363966  0.114038 -0.697380  1.091899  hari  False

In [54]:
df =df.reindex(['a','b','c','d','e','f','g','h'])
df['seven'] = np.nan

In [14]:
df

        one       two     three      four  five    six  seven
a  1.139641 -0.213123 -0.038728  3.418924  hari  False    NaN
b       NaN       NaN       NaN       NaN   NaN    NaN    NaN
c -0.368920 -0.937123  1.540648 -1.106759  hari  False    NaN
d       NaN       NaN       NaN       NaN   NaN    NaN    NaN
e -2.783950 -0.875875  1.070295 -8.351849  hari  False    NaN
f  1.782837  0.338143 -0.591616  5.348510  hari  False    NaN
g       NaN       NaN       NaN       NaN   NaN    NaN    NaN
h  0.363966  0.114038 -0.697380  1.091899  hari  False    NaN

In [55]:
df.isnull().any()

one      True
two      True
three    True
four     True
five     True
six      True
seven    True
dtype: bool

In [56]:
df.isnull().all()

one      False
two      False
three    False
four     False
five     False
six      False
seven     True
dtype: bool

In [58]:
df.isnull().all(axis = 1)

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
dtype: bool

In [57]:
df.isnull().sum()

one      3
two      3
three    3
four     3
five     3
six      3
seven    8
dtype: int64

In [60]:
df.isnull().sum(axis = 1)

a    1
b    7
c    1
d    7
e    1
f    1
g    7
h    1
dtype: int64

In [62]:
df

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b       NaN       NaN       NaN       NaN   NaN    NaN    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d       NaN       NaN       NaN       NaN   NaN    NaN    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g       NaN       NaN       NaN       NaN   NaN    NaN    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [61]:
df.dropna(how='all',axis= 1)

        one       two     three      four  five    six
a -0.148448  0.105671  1.216933 -0.445345  hari  False
b       NaN       NaN       NaN       NaN   NaN    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False
d       NaN       NaN       NaN       NaN   NaN    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False
f  1.855484  0.005510 -2.226242  5.566451  hari  False
g       NaN       NaN       NaN       NaN   NaN    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False

In [63]:
df.dropna(how = 'all')

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [64]:
df

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b       NaN       NaN       NaN       NaN   NaN    NaN    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d       NaN       NaN       NaN       NaN   NaN    NaN    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g       NaN       NaN       NaN       NaN   NaN    NaN    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [65]:
df.fillna(method = 'pad')

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [68]:
df['one'].isnull().sum()

3

In [69]:
df.isnull().sum()

one      3
two      3
three    3
four     3
five     3
six      3
seven    8
dtype: int64

In [70]:
df

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b       NaN       NaN       NaN       NaN   NaN    NaN    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d       NaN       NaN       NaN       NaN   NaN    NaN    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g       NaN       NaN       NaN       NaN   NaN    NaN    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [71]:
df.fillna(method = 'ffill' )

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [72]:
df.fillna(method = 'bfill' )

        one       two     three      four  five    six  seven
a -0.148448  0.105671  1.216933 -0.445345  hari  False    NaN
b -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
c -0.541202 -1.533455  0.065100 -1.623607  hari  False    NaN
d  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
e  1.660264  0.288686 -0.651455  4.980793  hari  False    NaN
f  1.855484  0.005510 -2.226242  5.566451  hari  False    NaN
g  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN
h  0.058014 -0.232254  1.286420  0.174043  hari  False    NaN

In [81]:
print df['one']
type(df['one'])

a    0.655380
b    0.655380
c    0.251642
d    0.251642
e    1.329858
f   -2.172569
g   -2.172569
h   -0.236562
Name: one, dtype: float64

pandas.core.series.Series

In [82]:
df

        one       two     three      four  five    six
a  0.655380 -0.561261 -0.480548  1.966139  hari  False
b  0.655380 -0.561261 -0.480548  1.966139  hari  False
c  0.251642  0.394266 -1.216405  0.754926  hari  False
d  0.251642  0.394266 -1.216405  0.754926  hari  False
e  1.329858 -0.567954  0.743222  3.989573  hari  False
f -2.172569  1.445602  0.343863 -6.517706  hari   True
g -2.172569  1.445602  0.343863 -6.517706  hari   True
h -0.236562 -0.140967  1.694267 -0.709686  hari  False

In [73]:
dff = pd.DataFrame(np.random.randn(10,3),columns=list('ABC'))

In [74]:
dff

          A         B         C
0 -0.269366 -0.706363 -1.684956
1  0.000599  0.640502 -0.464883
2  0.425148  1.085719  0.971604
3 -0.770544 -0.221724  1.162517
4 -0.271820  1.205548 -0.140280
5  1.481025 -0.508692 -1.171637
6 -0.950090 -0.340197 -1.404623
7  0.806458  1.496740  0.680416
8  0.591542  0.364441 -1.599608
9 -1.333085  0.916944 -0.148627

In [75]:
dff['d'] = np.nan

In [76]:
dff

          A         B         C   d
0 -0.269366 -0.706363 -1.684956 NaN
1  0.000599  0.640502 -0.464883 NaN
2  0.425148  1.085719  0.971604 NaN
3 -0.770544 -0.221724  1.162517 NaN
4 -0.271820  1.205548 -0.140280 NaN
5  1.481025 -0.508692 -1.171637 NaN
6 -0.950090 -0.340197 -1.404623 NaN
7  0.806458  1.496740  0.680416 NaN
8  0.591542  0.364441 -1.599608 NaN
9 -1.333085  0.916944 -0.148627 NaN

In [116]:

dff.iloc[3:5,2] = np.nan
dff

          A         B         C   d  (3, 2)
0 -1.682479 -1.716963  1.678641 NaN     NaN
1 -1.324242 -1.679559 -0.552590 NaN     NaN
2 -0.777965  0.905374  1.336052 NaN     NaN
3  2.515092 -1.294102       NaN NaN     NaN
4  2.289175  0.088630       NaN NaN     NaN
5 -0.281011 -0.771125  0.007016 NaN     NaN
6  0.570720 -2.358470  2.585821 NaN     NaN
7 -0.334644  1.678340  0.170059 NaN     NaN
8  0.846716 -0.408462  1.331873 NaN     NaN
9 -0.768165  1.151382  0.345144 NaN     NaN

In [77]:
dff.columns

Index([u'A', u'B', u'C', u'd'], dtype='object')

In [119]:
dff

          A         B         C   d
0 -1.682479 -1.716963  1.678641 NaN
1 -1.324242 -1.679559 -0.552590 NaN
2 -0.777965  0.905374  1.336052 NaN
3  2.515092 -1.294102       NaN NaN
4  2.289175  0.088630       NaN NaN
5 -0.281011 -0.771125  0.007016 NaN
6  0.570720 -2.358470  2.585821 NaN
7 -0.334644  1.678340  0.170059 NaN
8  0.846716 -0.408462  1.331873 NaN
9 -0.768165  1.151382  0.345144 NaN

In [120]:
dff.iloc[7,1] =np.nan

In [121]:
dff

          A         B         C   d
0 -1.682479 -1.716963  1.678641 NaN
1 -1.324242 -1.679559 -0.552590 NaN
2 -0.777965  0.905374  1.336052 NaN
3  2.515092 -1.294102       NaN NaN
4  2.289175  0.088630       NaN NaN
5 -0.281011 -0.771125  0.007016 NaN
6  0.570720 -2.358470  2.585821 NaN
7 -0.334644       NaN  0.170059 NaN
8  0.846716 -0.408462  1.331873 NaN
9 -0.768165  1.151382  0.345144 NaN

In [124]:
dff.iloc[0,0] =np.nan

In [125]:
dff

          A         B         C   d
0       NaN -1.716963  1.678641 NaN
1 -1.324242 -1.679559 -0.552590 NaN
2 -0.777965  0.905374  1.336052 NaN
3  2.515092 -1.294102       NaN NaN
4  2.289175  0.088630       NaN NaN
5 -0.281011 -0.771125  0.007016 NaN
6  0.570720 -2.358470  2.585821 NaN
7 -0.334644       NaN  0.170059 NaN
8  0.846716 -0.408462  1.331873 NaN
9 -0.768165  1.151382  0.345144 NaN

In [126]:
dff.fillna('HARI')

          A          B           C     d
0      HARI   -1.71696     1.67864  HARI
1  -1.32424   -1.67956    -0.55259  HARI
2 -0.777965   0.905374     1.33605  HARI
3   2.51509    -1.2941        HARI  HARI
4   2.28917  0.0886296        HARI  HARI
5 -0.281011  -0.771125  0.00701645  HARI
6   0.57072   -2.35847     2.58582  HARI
7 -0.334644       HARI    0.170059  HARI
8  0.846716  -0.408462     1.33187  HARI
9 -0.768165    1.15138    0.345144  HARI

In [131]:
dff.fillna(method = 'pad')

          A         B         C      d
0       NaN -1.716963  1.678641    NaN
1 -1.324242 -1.679559 -0.552590    NaN
2 -0.777965  0.905374  1.336052    NaN
3  2.515092 -1.294102  1.336052    NaN
4  2.289175  0.088630  1.336052    NaN
5 -0.281011 -0.771125  0.007016    NaN
6  0.570720 -2.358470  2.585821    NaN
7 -0.334644 -2.358470  0.170059    NaN
8  0.846716 -0.408462  1.331873    NaN
9 -0.768165  1.151382  0.345144  389.0

In [82]:
dff.iloc[9,3] = 389

In [83]:
dff

          A         B         C      d
0 -0.269366 -0.706363 -1.684956    NaN
1  0.000599  0.640502 -0.464883    NaN
2  0.425148  1.085719  0.971604    NaN
3 -0.770544 -0.221724  1.162517    NaN
4 -0.271820  1.205548 -0.140280    NaN
5  1.481025 -0.508692 -1.171637    NaN
6 -0.950090 -0.340197 -1.404623    NaN
7  0.806458  1.496740  0.680416    NaN
8  0.591542  0.364441 -1.599608    NaN
9 -1.333085  0.916944 -0.148627  389.0

In [85]:
dff.A.max()

1.4810248112680491

In [81]:
dff.fillna(dff['A'].max())

          A         B         C         d
0 -0.269366 -0.706363 -1.684956  1.481025
1  0.000599  0.640502 -0.464883  1.481025
2  0.425148  1.085719  0.971604  1.481025
3 -0.770544 -0.221724  1.162517  1.481025
4 -0.271820  1.205548 -0.140280  1.481025
5  1.481025 -0.508692 -1.171637  1.481025
6 -0.950090 -0.340197 -1.404623  1.481025
7  0.806458  1.496740  0.680416  1.481025
8  0.591542  0.364441 -1.599608  1.481025
9 -1.333085  0.916944 -0.148627  1.481025

In [141]:
dff.fillna(dff.mean() ['B':'C'])

          A         B         C      d
0       NaN -1.716963  1.678641    NaN
1 -1.324242 -1.679559 -0.552590    NaN
2 -0.777965  0.905374  1.336052    NaN
3  2.515092 -1.294102  0.862752    NaN
4  2.289175  0.088630  0.862752    NaN
5 -0.281011 -0.771125  0.007016    NaN
6  0.570720 -2.358470  2.585821    NaN
7 -0.334644 -0.675922  0.170059    NaN
8  0.846716 -0.408462  1.331873    NaN
9 -0.768165  1.151382  0.345144  389.0

In [146]:
dff.isnull()

       A      B      C      d
0   True  False  False   True
1  False  False  False   True
2  False  False  False   True
3  False  False   True   True
4  False  False   True   True
5  False  False  False   True
6  False  False  False   True
7  False   True  False   True
8  False  False  False   True
9  False  False  False  False

In [147]:
dff.notnull()

       A      B      C      d
0  False   True   True  False
1   True   True   True  False
2   True   True   True  False
3   True   True  False  False
4   True   True  False  False
5   True   True   True  False
6   True   True   True  False
7   True  False   True  False
8   True   True   True  False
9   True   True   True   True

In [157]:
dff.sum()

A      2.735675
B     -6.083296
C      6.902017
d    389.000000
dtype: float64

In [158]:
dff.cumsum()

          A         B         C      d
0       NaN -1.716963  1.678641    NaN
1 -1.324242 -3.396523  1.126051    NaN
2 -2.102207 -2.491149  2.462103    NaN
3  0.412884 -3.785251       NaN    NaN
4  2.702059 -3.696621       NaN    NaN
5  2.421048 -4.467747  2.469120    NaN
6  2.991768 -6.826217  5.054940    NaN
7  2.657124       NaN  5.224999    NaN
8  3.503840 -7.234678  6.556872    NaN
9  2.735675 -6.083296  6.902017  389.0

In [159]:
dff

          A         B         C      d
0       NaN -1.716963  1.678641    NaN
1 -1.324242 -1.679559 -0.552590    NaN
2 -0.777965  0.905374  1.336052    NaN
3  2.515092 -1.294102       NaN    NaN
4  2.289175  0.088630       NaN    NaN
5 -0.281011 -0.771125  0.007016    NaN
6  0.570720 -2.358470  2.585821    NaN
7 -0.334644       NaN  0.170059    NaN
8  0.846716 -0.408462  1.331873    NaN
9 -0.768165  1.151382  0.345144  389.0

In [165]:
dff.dropna(axis = 0)

          A         B         C      d
9 -0.768165  1.151382  0.345144  389.0

In [169]:
dff.iloc[0,0] = 90
dff

           A         B         C      d
0  90.000000 -1.716963  1.678641    NaN
1  -1.324242 -1.679559 -0.552590    NaN
2  -0.777965  0.905374  1.336052    NaN
3   2.515092 -1.294102       NaN    NaN
4   2.289175  0.088630       NaN    NaN
5  -0.281011 -0.771125  0.007016    NaN
6   0.570720 -2.358470  2.585821    NaN
7  -0.334644       NaN  0.170059    NaN
8   0.846716 -0.408462  1.331873    NaN
9  -0.768165  1.151382  0.345144  389.0

In [168]:
dff.dropna(axis = 0)

          A         B         C      d
9 -0.768165  1.151382  0.345144  389.0

In [170]:
dff.dropna(axis = 1)

           A
0  90.000000
1  -1.324242
2  -0.777965
3   2.515092
4   2.289175
5  -0.281011
6   0.570720
7  -0.334644
8   0.846716
9  -0.768165

In [9]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool